.top_cat
{ 
    border: 0px solid black;
 
   display: flex;
   justify-content: space-around;
   align-items: center;
}
.top_cat_pro
{
    border: 0px solid rgb(233, 16, 16);
    width: 370px;
    height: 320px;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0  6px 20px 0 rgba(0, 0, 0, 0.35);
    transition: transform 1s;
}
.top_cat_pro:hover
{
    transform: scale(1.05);

}
.top_cat_pro img
{
    width: 100%;
}
.checked
{
    color: orange;
}
.starr{
  border: 0px solid black;
   display: flex;
   justify-content: center;
   align-items: center;
    height: 30px;
}
.title p
{ 
    text-align: center;
    font-size: 18px;
    margin-top: 0px;
    
  }
.title p b{
    color: red;
    font-size: 20px;
}
.btn{
    border: 0px solid green;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn input{
    height: 40px;
    width: 130px;
    border-radius: 8px;
    border: 0;
    background-color: orange;
    font-size: 22px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0  6px 20px 0 rgba(0, 0, 0, 0.35);
    
    margin-top: 9px;
}
.btn input:hover
{
    background-color: green;
    color: white;
}

